index,source,sourcetype,host,"_raw"
"app_lifecycle","github.acme.commits://Build Enviroment","github.acme.commits","GITHUB01","{""sha"":""c2b503d51ac7be7dbadd70d3639b902e443b4de4"",""api_url"":""https://api.github.acme.com/repos/domeger/ProjectA/commits/c2b503d51ac7be7dbadd70d3639b902e443b4de4"",""url"":""https://github.acme.com/domeger/ProjectA/commit/c2b503d51ac7be7dbadd70d3639b902e443b4de4"",""message"":""PROJA - Fix remaining Files"",""author"":""James Brodsky"",""rawdate"":""2016-01-13T23:15:03Z"",""displaydate"":""Jan 13, 2016 - 18:39 PM""}"
"app_lifecycle","github.acme.commits://Build Enviroment","github.acme.commits","GITHUB01","{""sha"":""f156f6bbff414a3376d4c4d13c3fa70782a74fb8"",""api_url"":""https://api.github.acme.com/repos/domeger/ProjectA/commits/f156f6bbff414a3376d4c4d13c3fa70782a74fb8"",""url"":""https://github.acme.com/domeger/ProjectA/commit/f156f6bbff414a3376d4c4d13c3fa70782a74fb8"",""message"":""PROA - Removing Testing Requirements"",""author"":""Nate Smalley"",""rawdate"":""2016-01-13T23:30:47Z"",""displaydate"":""Jan 13, 2016 - 18:35 PM""}"
"app_lifecycle","github.acme.commits://Build Enviroment","github.acme.commits","GITHUB01","{""sha"":""2f1d50f28189cec3d04c82a3a51ca89f10190507"",""api_url"":""https://api.github.acme.com/repos/domeger/ProjectA/commits/2f1d50f28189cec3d04c82a3a51ca89f10190507"",""url"":""https://github.acme.com/domeger/ProjectA/commit/2f1d50f28189cec3d04c82a3a51ca89f10190507"",""message"":""Merge branch 'master' of github.acme.com:acme/ProjectA"",""author"":""Domnick Eger"",""rawdate"":""2016-01-13T23:45:33Z"",""displaydate"":""Jan 13, 2016 - 18:37 PM""}"
